.DS_Store
/.build
/Packages
apps/ascbar/Tuist/.build/
apps/ascbar/ASCBar.xcworkspace/
apps/ascbar/Derived/
apps/ascbar/Tuist/Package.resolved
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj
.idea/
.env
